
services:
  backend:
    build: ./NewsAPI
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
    depends_on:
      - redis

  frontend:
    build: ./NewsSPA
    ports:
      - "5173:80"
    depends_on:
      - backend

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  redis-data:
